doctype html
html
    include base.jade
    main(role="main" class="container")
        pimg(src="/static/img/storage/#{image}.png")
        p Имя: #{name}
        p Дата рождения: #{date}
        p #{description}
