doctype html
html
    head
        link(type="text/css", rel="stylesheet", href="/static/css/index.css")
    body
        h1 My Site
        p Welcome to my super lame site.
        p.paragraph_greeting Пожалуйста авторизируйтесь!
        p Ммя - #{name}
        p Дата рождения - #{date}
        p #{description}